
caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.minha-tabela {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .minha-tabela th,
  .minha-tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .minha-tabela th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .minha-tabela tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .minha-tabela tr:hover {
    background-color: #ddd;
  }
  