@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
    font-family: 'Afacad Flux', sans-serif;
    background-color: rgb(221, 247, 255) !important;
}

.navbar {
    background-color: transparent !important; /* Define o fundo transparente */
}

.botoes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botoes li {
    margin-right: 10px;
}

.botoes li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d8e6e9;
    color: rgb(46, 46, 46);
    text-decoration: none;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.3s ease;
    background-repeat: no-repeat;
    background-position: 10px center; /* Ajusta a posição do ícone */
    background-size: 20px; /* Ajusta o tamanho do ícone */
    padding-left: 40px; /* Espaço para o ícone */
}

.botoes li:nth-child(1) a {
    background-image: url('./img/produto.png'); /* URL do primeiro ícone */
}

.botoes li:nth-child(2) a {
    background-image: url('./img/estoque.png'); /* URL do segundo ícone */
}


.botoes li a:hover {
    background-color: #7226ff;
}

#search{
    width: 60%;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.container {
  margin: 10px 10%;
}

.custom-navbar {
  padding: 8x 15px;
  background-color: #f8f9fa; /* Você pode ajustar a cor de fundo */
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-container .btn {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: none;
  
}

.custom-container a.btn-info {
  background-color: #00cfff; /* Cor customizada para o botão "Voltar" */
  text-decoration: none;
}

.custom-container input.btn-danger {
  background-color: #ff4b4b; /* Cor customizada para o botão "Deslogar" */
  color: white;
  border: none;
}


@media screen and (max-width: 580px) {
    body {
      font-size: 16px;
      line-height: 22px;
    }
  }
  
  .wrapper {
    margin: 0 auto !important;
    padding-top: 20px !important;
    max-width: 80% !important;
  }
  
  .table {
    margin: 0 0 40px 0 !important;
    width: 100% !important;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2) !important;
    display: table !important;
  }

  @media screen and (max-width: 580px) {
    .table {
      display: block !important;
    }
  }
  
  .row {
   /* width: 10% !important;
    */display: table-row !important;
    background: #f6f6f6 !important;
  }

  .row:nth-of-type(odd) {
    background: #e9e9e9 !important;
  }

  .row.header {
    font-weight: 900 !important;
    color: #ffffff !important;
    background: #ea6153 !important;
  }

  .row.green {
    background: #27ae60 !important;
  }

  .row.blue {
    background: #2980b9 !important;
  }

  @media screen and (max-width: 580px) {
    .row {
      padding: 14px 0 7px !important;
      display: block !important;
    }
    .row.header {
      padding: 0 !important;
      height: 6px !important;
    }
    .row.header .cell {
      display: none !important;
    }
    .row .cell {
      margin-bottom: 10px !important;
    }
    .row .cell:before {
      margin-bottom: 3px !important;
      content: attr(data-title) !important;
      min-width: 98px !important;
      font-size: 10px !important;
      line-height: 10px !important;
      font-weight: bold !important;
      text-transform: uppercase !important;
      color: #969696 !important;
      display: block !important;
    }
  }
  
  .cell {
    padding: 6px 12px !important;
    display: table-cell !important;
  }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 16px !important;
      display: block !important;
    }
  }
  
  .row.yellow {
    background-color: #ffff00 !important; /* Amarelo */
}

.row.red {
    background-color: #ff0000 !important; /* Vermelho */
}

.pesquisa {
  display: flex;
  justify-content: center;

}

#search{
  background-color: white;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 8px 8px;
  background-repeat: no-repeat;
  padding-left: 40px;
  height: 40px;
  border-radius: 10px;
}

.pesq {
  margin-left: 5px;
  background-color: rgb(0, 167, 0);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}